.container {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.speakerName {
    margin: 0 15px 0 0;
    min-width: 100px;
    font-family: var(--primary-font);
}

.messageInput {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    margin: 0 5px;
    width: 100%;
    outline: none;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 22px;
    transition: 0.7s;
}

.messageInput:focus {
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: 0px 0px 5px var(--primary-color);
}

.sendMessageBtn {
    width: 180px;
    height: 35px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: rgba(0, 0, 0, 1);
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #444;
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.sendMessageBtn:hover {
    box-shadow: 1px 1px 3px #888;
}