.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 10px 15px;
    padding: 0;
    font-family: var(--primary-font);
}

.speakersList {
    list-style: none;
    padding: 0;
    margin: 20px 40px;
}

.speaker {
    margin: 0 0 30px;
}

.speaker:last-of-type {
    margin: 0;
}

.speakerBtn {
    width: 100%;
    height: 40px;
    font-size: 22px;
    line-height: 24px;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #888;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: 0.7s;
}

.speakerBtn:hover {
    box-shadow: 1px 1px 5px #888;
}

.addSpeakerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.addSpeakerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 50%;
    border: 0;
    box-shadow: 3px 3px 5px #444;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.addSpeakerBtnDisabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0;
    background-color: #99999955;
    cursor: pointer;
}


.addSpeakerBtn:hover {
    box-shadow: 1px 1px 3px #888;
}

.tagAddPerson {
    margin: 0 7px 0 0;
    padding: 2px 5px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 16px;
    background-color: #99999955;
    color: #000;
    border-radius: 8px;
}

.addPersonIcon {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}

.addSpeakerInput {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    margin: 0 5px;
    width: 50%;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    outline: none;
}

.addSpeakerInput:focus {
    border-bottom: 2px solid var(--secondary-color);
}

.addSpeakerSubmit {
    width: 45px;
    height: 25px;
    margin: 1px;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 4px #444;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.addSpeakerSubmit:hover {
    box-shadow: 1px 1px 3px #888;
}