.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 10px 15px;
    padding: 0;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

.speakersList {
    list-style: none;
    padding: 0;
    margin: 20px 40px;
}

.speaker {
    margin: 0 0 30px;
}

.speaker:last-of-type {
    margin: 0;
}

.speakerBtn {
    width: 100%;
    height: 40px;
    font-size: 22px;
    line-height: 24px;
    background-color: #00000033;
    border: 0;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #888;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.speakerBtn:hover {
    box-shadow: 1px 1px 3px #888;
}

.addSpeakerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.addSpeakerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 50%;
    border: 0;
    box-shadow: 3px 3px 5px #444;
    background-color: #fff;
    cursor: pointer;
}

.addSpeakerBtn:hover {
    box-shadow: 1px 1px 3px #888;
}

.tagAddPerson {
    margin: 0 7px 0 0;
    padding: 2px 5px;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #aaa;
    color: #000;
    border-radius: 8px;
}

.addPersonIcon {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}

.addSpeakerInput {
    background-color: rgba(248, 255, 144, 0);
    border: 0;
    border-bottom: 2px solid rgb(135, 145, 2);
    margin: 0 5px;
    width: 50%;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    outline: none;
}

.addSpeakerInput:focus {
    background-color: #ffffffaa;
    border-bottom: 2px solid black;
    background-color: rgba(248, 255, 144, 0.667);
    border-bottom: 3px solid rgb(135, 145, 2);
}

.addSpeakerSubmit {
    width: 45px;
    height: 25px;
    margin: 1px;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 4px #444;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: rgb(135, 145, 2);
    color: rgba(248, 255, 144, 1);
    cursor: pointer;
}

.addSpeakerSubmit:hover {
    box-shadow: 1px 1px 3px #888;
}